h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p {
    color: aqua;
}

main{
    margin-top: 1rem;
}

.paragrafo {
    border: 1px solid cyan;
    color: aquamarine;
    margin-top: 1rem;

}
#titulo {
    color: antiquewhite;
    margin-bottom: 1rem;

}
input[type="password"]{
    font-size: 3rem;
}
.login-form input{
    font-size: 2rem;
    color: blue;
}
.login-form > input{
    color:black;
    width: 10rem;
}
.cadastro-form input:nth-last-of-type(2){
    color: palegoldenrod;
    font-size: 1rem;
    background: blue;
    
}
